<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">Defaulters</h2>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <p class="pull-right btn btn-dark btn-sm prussy" id="print_it" onclick="window.print()">
                <i class="fa fa-print" style="color: #fff"></i> Print</p>
            <p class="pull-left btn btn-dark btn-sm prussy" onclick="window.location.reload()">
                <i class="fa fa-refresh" style="color: #fff"></i>
            </p>
            <div class="clearfix"></div>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Outstanding</th>
                        <th>Date Issued</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each defaulters as |defaulter|}}
                    <tr>
                        <td id='own{{defaulter._id.owner}}' data-owner='{{defaulter._id.owner}}' class="defaulter-owner text-capitalize"></td>
                        <td>¢ {{defaulter._id.total}}</td>
                        <td>{{defaulter._id.month}}/{{defaulter._id.year}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>


        </div>
    </div>
</div>

<script>
    $(function () {
        $('.defaulter-owner').each(function () {
            let def = $(this);
            let atr = def.attr('data-owner');
            console.log('yo')
            var get_user = $.post('/getuser', {
                user: def.attr('data-owner')
            });

            get_user.done(function (data) {
                console.log(data);
                //$(this).find().text(data.displayName);
                //$('#own' + atr).html(data)
                $('#own' + atr).text(data.displayName)
                console.log($('#own' + atr))
            }).fail(function (err) {
                console.error(err);
            });
        });
    })
</script>