
<script src="/js/jquery-1.12.4.js"></script>
<script src="/js/jquery-ui.js"></script>

<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">Widgets</h2>
        <div class="elements">

            <div class="col-sm-4 wthree-crd widgettable">
                <div class="card card-contact-list">
                    <div class="agileinfo-cdr">
                        <div class="card-header">
                            <h3>Properties Owned
                                <small class="pull-right btn btn-sm btn-dark" data-toggle="modal"
                                       data-target="#addPropertyModal">
                                    <i class="fa fa-plus"></i> Add
                                </small>
                            </h3>
                            <br>
                            <small class="pull-left">Property Number</small>
                            <small class="pull-right">Use Code</small>
                            <div class="clearfix"></div>
                        </div>
                        <hr class="widget-separator">
                        <div class="card-body p-b-20">
                            <div class="list-group" id="prop-list" style="height: 280px;overflow: scroll">
                                {{#each owner.properties as |property|}}
                                    <a class="list-group-item media" href="">
                                        <div class="media-body">
                                            <div class="pull-left">
                                                <div class="lg-item-heading">{{property.area.code}}{{property.prop_num}}</div>
                                            </div>
                                            <div class="pull-right">
                                                <div class="lg-item-heading">
                                                    {{property.use_code.code}}
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>

                                            </div>
                                    </a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 w3-agileits-crd widgettable">

                <div class="card card-contact-list">
                    <div class="agileinfo-cdr">
                        <div class="card-header">
                            <h3>Bills</h3>
                            <br>
                            <small class="pull-left">Date</small>
                            <small class="pull-right">Amount</small>
                            <div class="clearfix"></div>
                        </div>
                        <hr class="widget-separator">
                        <div class="card-body p-b-20">
                            <div class="list-group" style="height: 280px;overflow: scroll">
                                {{#each owner.bill}}
                                    <a class="list-group-item media" href="">
                                        <div class="pull-left">
                                            <!--<img class="lg-item-img" src="/images/4.jpg" alt="">-->
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-left">
                                                <div class="lg-item-heading createdAt" data-createdAt="{{createdAt}}">Date</div>
                                                <!--<small class="lg-item-text createdAt"
                                                       data-createdAt="{{createdAt}}"></small>-->
                                            </div>
                                            <div class="pull-right">
                                                <div class="lg-item-heading">
                                                    <!--<i class="fa fa-warning"></i>-->{{total}}</div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <hr>
                                            <div style="margin:auto 10px;">

                                            {{#each properties as |prop|}}

                                                <div class="pull-left"><small><strong>{{prop.area.code}}{{prop.prop_num}}</strong></small></div>
                                                <div class="pull-right">

                                                    <small class="calcs" data-san="{{prop.sanitation_code.rate}}" data-use="{{prop.use_code.rate}}" data-rate_val="{{prop.rate_val}}"></small>
                                                </div>
                                            <div class="clearfix"></div>
                                            <small>type: {{prop.sanitation_code.name}}--{{prop.use_code.name}}</small>
                                                <hr class="small">
                                            {{/each}}
                                            </div>
                                        </div>
                                    </a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 w3-agile-crd widgettable">
                <div class="card">
                    <div class="card-body card-padding">
                        <div class="">
                            <header class="widget-header">
                                <h4 class="widget-title">Recent Transactions</h4>
                            </header>
                            <hr class="widget-separator">
                            <div class="widget-body">
                                <div class="streamline">
                                    <div class="sl-item sl-primary">
                                        <div class="sl-content">
                                            <small class="text-muted">Sorry</small>
                                            <p>Sorry, no transactions available right now.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col w3-agile-crd widgettable">
                <div class="card">
                    <div class="card-body card-padding">
                        <div class="">
                            <header class="widget-header">
                                <h4 class="widget-title">Map</h4>
                            </header>
                            <hr class="widget-separator">
                            <div class="widget-body">
                                <div class="mapuzzy" id="mapuzzy" style="width: 100%; height:500px;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <!--//photoday-section-->

            <!-- mainpage-chit -->
            <div class="chit-chat-layer1">
                <div class="col-md-12 chit-chat-layer1-rit">
                    <div class="geo-chart">
                        <section id="charts1" class="charts">
                            <div class="wrapper-flex">

                                <table id="myTable" class="geoChart tableChart data-table col-table myTable chtr-table"
                                       style="display: none; position: absolute; top: -99999px; width: 485px;">
                                    <caption>Student Nationalities Table</caption>
                                    <tbody>
                                    <tr>
                                        <th scope="col" data-type="string">Country</th>
                                        <th scope="col" data-type="number">Number of Students</th>
                                        <th scope="col" data-role="annotation">Annotation</th>
                                    </tr>
                                    <tr>
                                        <td>China</td>
                                        <td align="right">20</td>
                                        <td align="right">20</td>
                                    </tr>
                                    <tr>
                                        <td>Colombia</td>
                                        <td align="right">5</td>
                                        <td align="right">5</td>
                                    </tr>
                                    <tr>
                                        <td>France</td>
                                        <td align="right">3</td>
                                        <td align="right">3</td>
                                    </tr>
                                    <tr>
                                        <td>Italy</td>
                                        <td align="right">1</td>
                                        <td align="right">1</td>
                                    </tr>
                                    <tr>
                                        <td>Japan</td>
                                        <td align="right">18</td>
                                        <td align="right">18</td>
                                    </tr>
                                    <tr>
                                        <td>Kazakhstan</td>
                                        <td align="right">1</td>
                                        <td align="right">1</td>
                                    </tr>
                                    <tr>
                                        <td>Mexico</td>
                                        <td align="right">1</td>
                                        <td align="right">1</td>
                                    </tr>
                                    <tr>
                                        <td>Poland</td>
                                        <td align="right">1</td>
                                        <td align="right">1</td>
                                    </tr>
                                    <tr>
                                        <td>Russia</td>
                                        <td align="right">11</td>
                                        <td align="right">11</td>
                                    </tr>
                                    <tr>
                                        <td>Spain</td>
                                        <td align="right">2</td>
                                        <td align="right">2</td>
                                    </tr>
                                    <tr>
                                        <td>Tanzania</td>
                                        <td align="right">1</td>
                                        <td align="right">1</td>
                                    </tr>
                                    <tr>
                                        <td>Turkey</td>
                                        <td align="right">2</td>
                                        <td align="right">2</td>
                                    </tr>

                                    </tbody>
                                </table>

                                <div class="col">
                                    <!--<h3 id="geoChartTitle">World Market</h3>-->
                                    <!--<div id="geoChart" class="chart"></div>-->
                                </div>


                            </div><!-- .wrapper-flex -->
                        </section>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //mainpage-chit -->


            <div class="agil-info-calendar">
                <!-- calendar -->
                <div class="col-md-8 agile-calendar">
                    <div class="calendar-widget">
                        <header class="widget-header">
                            <h4 class="widget-title">Calender widget</h4>
                        </header>
                        <hr class="widget-separator">
                        <!-- grids -->
                        <div class="agile-calendar-grid">
                            <div class="page">

                                <div class="w3l-calendar-left">
                                    <div class="calendar-heading">

                                    </div>
                                    <div class="monthly" id="mycalendar"></div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-4 stats-info widget">
                    <div class="stats-info-agileits">
                        <header class="widget-header">
                            <h4 class="widget-title">Browser stats</h4>
                        </header>
                        <hr class="widget-separator">
                        <div class="stats-body">
                            <ul class="list-unstyled">
                                <li>GoogleChrome <span class="pull-right">85%</span>
                                    <div class="progress progress-striped active progress-right">
                                        <div class="bar green" style="width:85%;"></div>
                                    </div>
                                </li>
                                <li>Firefox <span class="pull-right">35%</span>
                                    <div class="progress progress-striped active progress-right">
                                        <div class="bar yellow" style="width:35%;"></div>
                                    </div>
                                </li>
                                <li>Internet Explorer <span class="pull-right">78%</span>
                                    <div class="progress progress-striped active progress-right">
                                        <div class="bar red" style="width:78%;"></div>
                                    </div>
                                </li>
                                <li>Safari <span class="pull-right">50%</span>
                                    <div class="progress progress-striped active progress-right">
                                        <div class="bar blue" style="width:50%;"></div>
                                    </div>
                                </li>
                                <li>Opera <span class="pull-right">80%</span>
                                    <div class="progress progress-striped active progress-right">
                                        <div class="bar light-blue" style="width:80%;"></div>
                                    </div>
                                </li>
                                <li>Microsoft Edge <span class="pull-right">78%</span>
                                    <div class="progress progress-striped active progress-right">
                                        <div class="bar red" style="width:78%;"></div>
                                    </div>
                                </li>
                                <li class="last">Others <span class="pull-right">60%</span>
                                    <div class="progress progress-striped active progress-right">
                                        <div class="bar orange" style="width:60%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>-->
                <div class="col-md-4 chart-layer1-right">
                    <div class="user-marorm">
                        <div class="malorum-top">
                        </div>
                        <div class="malorm-bottom">
                            <span class="malorum-pro"> </span>
                            <h2>{{owner.displayName}}</h2>
                            <p>
                                An inner form of everything is the attraction.
                                To some, a follower is a relativity for desiring.
                                When one illuminates surrender and density, one is able to handle pain.
                            </p>
                            <!--
                            <ul class="malorum-icons">
                                <li><a href="#"><i class="fa fa-facebook"> </i>
                                    <div class="tooltip"><span>Facebook</span></div>
                                </a></li>
                                <li><a href="#"><i class="fa fa-twitter"> </i>
                                    <div class="tooltip"><span>Twitter</span></div>
                                </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"> </i>
                                    <div class="tooltip"><span>Google</span></div>
                                </a></li>
                            </ul>
                            -->
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //calendar -->
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addPropertyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add a Property</h4>
            </div>
            <div class="modal-body">
                <div id="add_prop_mess">

                </div>
                <form name="prop_form" id="prop_form">
                    <fieldset class="form-group">
                        <label><h4>Use Code</h4></label>
                        <input class="form-control" id="use_bar">
                        <input class="form-control" name="use_code" placeholder="Use JQuery autocomplete" required
                               readonly id="use_code">
                    </fieldset>
                    <fieldset class="form-group">
                        <label><h4>Sanitation Code</h4></label>
                        <input class="form-control" id="san_bar">
                        <input class="form-control" required readonly name="sanitation_code">
                    </fieldset>
                    <fieldset class="form-group">
                        <label><h4>Property Number</h4></label>
                        <input class="form-control" name="prop_num" required>
                    </fieldset>
                    <fieldset class="form-group">
                        <label><h4>Area</h4></label>
                        <input class="form-control" id="area_bar">
                        <input class="form-control" name="area" placeholder="Use JQuery autocomplete" required readonly
                               id="are_a">
                    </fieldset>
                    <fieldset class="form-group">
                        <label><h4>Location</h4></label>
                        <input class="form-control" name="x" placeholder="x" type="number" step="0.0001" required>
                        <input class="form-control" name="y" placeholder="y" type="number" step="0.0001" required>
                        <input class="form-control" name="loc_des" placeholder="location description" required>
                    </fieldset>
                    <fieldset class="form-group">
                        <label><h4>Owner ID</h4></label>
                        <input class="form-control" name="owner" readonly value="{{owner._id}}">
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add_prop">Save changes</button>
            </div>
        </div>
    </div>
</div>

